[Unit]
Description=EduBlocks Server

[Service]
ExecStart=/home/anwarbashir/EduBlocks/server/start.sh
Restart=always
User=root
Group=root
WorkingDirectory=/home/anwarbashir/EduBlocks/server

[Install]
WantedBy=multi-user.target
